
<div class="container">


    <div class="log">
    
                   <div class="sec1">
                    <h3>Welcome to Savanna ERP</h3>
                    
                    <div class="linehr">
                    <div id="line"> </div>
                    <div id="line1"></div>
                    
    
                </div>
    
                    <p id="param">Your one stop shop for all services ERP.</p> 
                    
                 <div id="img1"><img [src]="url"></div>   
    
                
    
        </div>
        
       
    <div class="sec2">
    
                <div id="img2"><img [src]= "myImage" alt=""></div> 
    
                    <h2>Login</h2>
                    <div id="hrlog"></div>

                    <div class="login-wrapper">
                    <div class="card">
                    <div class="card-body">

                    <form class="form-signin" (ngSubmit)="onSubmit(signInForm)" #signInForm="ngForm">
                        <div class="form-floating">
                            <input type="text" id="floatingInput" name="fname" placeholder="company" required autofocus ngModel>
                            <label for="floatingInput"></label>
                        
                        </div>

                        <div class="form-floating">
                        <input type="text" id="floatingInput" name="lname" placeholder="username" required autofocus ngModel>
                        <label for="floatingInput"></label>
                        
                        </div>

                        <div class="form-floating">

                        <input type="text" id="floatingInput" name="Password" placeholder="Password"  required ngModel>    
                        <label for="floatingInput"></label>
                        
                        </div>


                        
                        <button routerLink="/dashboard" routerLinkActive="active" class="button button3" type="submit">Login</button> 
                      </form>
                    </div>
                    </div>
                    </div>
                      <div class="circle">
                        <div id="outer-circle">
                            <div id="inner-circle">
                        
                            </div>
                        </div>
                    </div>
                         
                        
    
    </div>
                        
    
    </div>
    
    
    </div>
